@import '@fontsource/amatic-sc';

/* TODO: Find out why using :root here screws up the fonts. */
* {
	font-family: 'Amatic SC', cursive;
	font-size: large;
	color: white;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

code {
	font-family: monospace;
}

h1 {
	font-size: 4.17rem;
}

p {
	max-width: 900px;
	margin: 1rem;
}

button {
	color: black;
	margin: 1rem;
}

input, button {
	border-radius: 0.2rem;
	color: black;
	font-size: 1.69rem;
	padding: 0.38rem;
}
