@import '@fontsource/amatic-sc';

/* TODO: Find out why using :root here screws up the fonts. */
* {
	font-family: 'Amatic SC', cursive;
	font-size: large;
}

body {
	background-color: #f28e1c;
	min-height: 100vh;
	box-sizing: border-box;
	color: white;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 4.17rem;
}

p {
	max-width: 900px;
}

input, button {
	border-radius: 0.2rem;
	padding: 0.38rem;
}